<h1>My Channels<h1>
<div>
  <% @my_channels.each do |name| %>
    <p><%= name %></p>
  <% end %>
</div>
<h1>Members<h1>
<div>
  <% @members.each do |member| %>
    <p><%= member %></p>
  <% end %>
</div>
