<h1>My Repo<h1>
<div>
  <% @my_repos.each do |repo| %>
    <h4>
      <%= link_to repo.full_name, show_path(repo_full_name: repo.full_name) %>
    </h4>
  <% end %>
</div>

<h1>Private Repo<h1>
<div>
  <% @private_repos.each do |repo| %>
    <h4>
      <%= repo.full_name %>
    </h4>
  <% end %>
</div>
